<!DOCTYPE html >
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

  </head>
  <body>

    </div>
    <div class="ui two column grid">
      <div class="column">
        <!-- <div class="ui sticky"> -->
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" height="460px" width="100%"></div>
    <div id="form" class="popup">
      <table>
      <tr><td>Name:</td> <td><input type='text' id='name'/> </td> </tr>
      <tr><td>Type:</td> <td><select id='type'> +
                 <option value='Fruit' SELECTED>Fruit</option>
                 <option value='Vegetable'>Vegetable</option>
                 <option value='Other'>Other</option>
                 </select> </td></tr>
                 <tr><td></td><td><input type='button' value='Save' onclick='saveData()'/></td></tr>
      </table>
    </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAna4GD5g2aOa5JUubrG1HHulRl8LSf7eg&callback=initMap&libraries=places">
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
 </script>
  </div>

<div class='column'>
  <div class="ui three item menu">
    <div class="item">
      <div class="ui buttons">
        <button class="ui olive ui button fruit" >Fruit</button>
        <div class="or"></div>
        <button class="ui olive ui button veg">Vegetable</button>
      </div>
    </div>
    <div class="item">
      <div class="ui buttons">
        <button class="ui olive basic button all"> Show All</button>
      </div>
    </div>
    <div class="item">
      <div class="ui floating dropdown labeled icon button">
        <i class="filter icon"></i>
        <span class="search text">Filter Food</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search tags...">
          </div>
          <div class="divider"></div>
          <div class="header">
            <i class="tags icon"></i>
            Available Options
          </div>
          <div class="scrolling menu">
            <div class="item" data-value="Tomato">
              <div class="ui red empty circular label"></div>
              Tomato
            </div>
            <div class="item" data-value="Lettuce">
              <div class="ui blue empty circular label"></div>
              Lettuce
            </div>
            <div class="item" data-value="Grapes">
              <div class="ui purple empty circular label"></div>
              Grape
            </div>
            <div class="item" data-value="Carrots">
              <div class="ui orange empty circular label"></div>
            Carrot
            </div>
            <div class="item" data-value="Lemons">
              <div class="ui yellow empty circular label"></div>
              Lemon
            </div>
            <div class="item" data-value="Strawberries">
              <div class="ui pink empty circular label"></div>
            Strawberry
            </div>
            <div class="item" data-value="Apples">
              <div class="ui green empty circular label"></div>
              Apple
            </div>
            <div class="item" data-value="All">
              <div class="ui empty circular label"></div>
              All
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


        <div class="ui centered link cards">

          <% @marker.each do | marker | %>
          <% if marker.name.upcase == "LETTUCE" %>
          <div class="teal card" id= <%= marker.category %>>
            <% else %>
              <div class="card" id= <%= marker.category %>>
                <% end %>
    
            <div class="image">
              <% if marker.name.upcase == "LETTUCE" %>
              <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/lettuce.png?7058430645863851559">
              <% end %>

              <% if marker.name.upcase == "TOMATO" %>
                  <img src="  https://cdn.shopify.com/s/files/1/0790/5353/files/lemon_978d4dcc-8bc7-488c-8914-4e351748ddb5.png?15897903740619616183">
                  <% end %>

                <% if marker.name == "Strawberries" || marker.name == "berry" || marker.name == "strawberry" %>
                <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/berry.png?10987933923783252097">
                <% end %>

                <% if marker.name.upcase == "APPLES" %>
                  <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/Untitled-2.png?14227909331024637198">
                  <% end %>

                  <% if marker.name.upcase == "CARROTS" %>
                    <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/carrot.png?14706481068821637579">
                    <% end %>

                    <% if marker.name == "Cherries" || marker.name == "cherry" %>
                    <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/cherry.png?15324602097155618717">
                <% end %>

                <% if marker.name.upcase == "GRAPE" %>
                <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/grape.png?15928860166532810551">
            <% end %>
              </div>
            <div class="content">
              <div class="header"><%= marker.name %> </div>
              <div class="meta">
                <a>198 41st, Vancouver</a>
              </div>
              <div class="description">
              description description foraging description
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <%= marker.category %>
              </span>
              <span>
                <i class="heart icon"></i>
                <%= rand(5..100) %> Friends
              </span>
            </div>
          </div>
          <% end %>





      <div class="card" id="Vegetable">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/carrot.png?14706481068821637579">
        </div>
        <div class="content">
          <div class="header">Carrots</div>
          <div class="meta">
            <a>198 41st, Vancouver</a>
          </div>
          <div class="description">
          description description fruit and vegetables foraging description
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Vegetable
          </span>
          <span>
            <i class="heart icon"></i>
            75 Friends
          </span>
        </div>
      </div>
      <div class="purple card" id="Fruit">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/grape.png?15928860166532810551">
        </div>
        <div class="content">
          <div class="header">Grapes</div>
          <div class="meta">
            <a>6th & Gore, Vancouver</a>
          </div>
          <div class="description">
          description description fruit and vegetables foraging description
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Fruit
          </span>
          <span>
            <i class="heart icon"></i>
            75 Friends
          </span>
        </div>
      </div>

      <div class="pink card" id="Fruit">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/cherry.png?15324602097155618717">
        </div>
        <div class="content">
          <div class="header">Cherries</div>
          <div class="meta">
            <a>East 5th & Victoria, Vancouver</a>
          </div>
          <div class="description">
          description description fruit and vegetables foraging description
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Fruit
          </span>
          <span>
            <i class="heart icon"></i>
            75 Friends
          </span>
        </div>
      </div>
      <div class="teal card" id="Vegetable">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/lettuce.png?7058430645863851559">
        </div>
        <div class="content">
          <div class="header">Lettuce</div>
          <div class="meta">
            <a>2949 Prince Edward, Vancouver</a>
          </div>
          <div class="description">
            description description fruit and vegetables foraging description
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Vegetable
          </span>
          <span>
            <i class="heart icon"></i>
            75 Friends
          </span>
        </div>
      </div>
      <div class="purple card" id="Fruit">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/berry.png?10987933923783252097">
        </div>
        <div class="content">
          <div class="header">Strawberries</div>
          <div class="meta">
            <span class="date">Victoria Park, East Van</span>
          </div>
          <div class="description">
            description description fruit and vegetables foraging description
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Fruit
          </span>
          <span>
            <i class="heart icon"></i>
            35 Friends
          </span>
        </div>
      </div>
      <div class="yellow card" id="Fruit">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/lemon.png?8813038794088928612">
        </div>
        <div class="content">
          <div class="header">Lemons</div>
          <div class="meta">
            <a>54 clifford street, Vancouver</a>
          </div>
          <div class="description">
description description fruit and vegetables foraging description           </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Fruit
          </span>
          <span>
            <i class="heart icon"></i>
            75 Friends
          </span>
        </div>
      </div>
      <div class="green card" id="Fruit">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0790/5353/files/Untitled-2.png?14227909331024637198">
        </div>
        <div class="content">
          <div class="header">Apples</div>
          <div class="meta">
            <a>161 West Georgia, Vancouver</a>
          </div>
          <div class="description">
description description fruit and vegetables foraging description            </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Fruit
          </span>
          <span>
            <i class="heart icon"></i>
            151 Friends
          </span>
        </div>
      </div>

      <div class="red card" id="Vegetable">
        <div class="image">
          <img src="    https://cdn.shopify.com/s/files/1/0790/5353/files/lemon_978d4dcc-8bc7-488c-8914-4e351748ddb5.png?15897903740619616183">
        </div>
        <div class="content">
          <div class="header">Tomato</div>
          <div class="meta">
            <a>900 East Georgia, Vancouver</a>
          </div>
          <div class="description">
description description fruit and vegetables foraging description            </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Vegetable
          </span>
          <span>
            <i class="heart icon"></i>
            100 Friends
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
  <%= javascript_include_tag "map2" %>

  </body>
</html>
