<div class="ui text container">

  <!-- <div id="post_content"></div>
  <h3 class="dark-grey">
    <br>
    <%= @post.title %>
  </h3>
  <div class="ui dividing header"></div>
  <p>
    <%= @post.content %>
      </p>
      <p>
Posted by: <a><%= @post.user.name %></a>
<%= time_ago_in_words(@post.created_at) %> ago.
</p> -->
<br>
<br>
<div class="ui raised centered card">
  <div class="content">
    <div class="header">    <%= @post.title %>
</div>
    <div class="meta">
      <span class="category"></a>
      <%= time_ago_in_words(@post.created_at) %> ago.</span>
    </div>
    <div class="description">
      <p>  <%= @post.content %></p>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <img class="ui avatar image" src='<%= @post.user.avatar %>'> Posted by: <a><%= @post.user.name %>
    </div>
  </div>
</div>


  <div id="comments">
    <p>
    </p>
    <h3 class="ui dividing header"><%= @post.comments.count %>
Comments</h3>
    <%= render @post.comments %>
    <p>Reply to thread</p>
    <%= render "comments/form" %>
  </div>

  <%= link_to "Edit", edit_post_path(@post), class:"ui small button" %>
  <%= link_to "Delete", post_path(@post),class:"ui small button",  method: :delete, data: { confirm: "are you sure you want to delete this post?"} %>
</div>
