<div class='ui inverted menu'>
  <div class='item'>
    <%= link_to 'FORAGER', '/' %>
  </div>
  <%= link_to 'Forage Map', map_path, class:'item' %>

  <%= link_to 'Community Forum', posts_path, class:'item' %>

  <%= link_to 'Contact', contact_path, class:'item' %>
  
  <div class='right menu'>



  <% if current_user %>
    <div class='item'>Signed in as &nbsp; | &nbsp; <%= link_to current_user.name, user_path(id: current_user.id) %> </div> <%= link_to "Logout", '/logout', class:'item' %>
  <% else %>
    <%= link_to 'Login', '/login', class:'item' %>  <%= link_to 'Signup', '/signup',class:'item' %>
  <% end %>

</div>
</div>
