<!DOCTYPE html>
<html>
  <head>
    <title>Forager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>
    <% if !current_user %>
    <%= render 'layouts/nav' %>
    <div class="ui page dimmer">
      <div class="content">
        <div class="center">
          <h4>Login to forage for food</h4>
          <%= link_to 'Login', login_path, class:'ui button' %>
          </br>
          </br>
          <h6>Don't have an account yet?</h6>
          <%= link_to 'Signup here', signup_path, class:'ui button' %>
        </div>
    </div>
  </div>
  <% else %>
  <%= render 'layouts/nav' %>
  <div>
    <% flash.each do |key, msg| %>
    <%= msg %>
    <% end %>
  <div>
    <% end %>
    <%= yield %>
  </body>
</html>
