
<!DOCTYPE html>
<html>
  <head>
    <title>Forager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='ui inverted menu'>
      <div class='item'>
        <%= link_to 'LOGO', '/' %> 

      </div>
      <div class='right menu'>
      <% if current_user %>
  <strong class="white-text">  Signed in as <%= current_user.name %></strong> | <%= link_to "Logout", '/logout', class:'ui olive item' %>
      <% else %>
        <%= link_to 'Login', '/login', class:'item' %> | <%= link_to 'Signup', '/signup',class:'item' %>
      <% end %>
    </div>
  </div>
  <div>
    <% flash.each do |key, msg| %>
    <%= msg %>
    <% end %>
  <div>
    <%= yield %>
  </body>
</html>
