
<!DOCTYPE html>
<html>
  <head>
    <title>Forager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='ui inverted menu'>
      <div class='item'>
        <%= link_to 'LOGO', '/' %>

      </div>
      <div class='right menu'>
      <% if current_user %>
  <div class='item'>Signed in as &nbsp; | &nbsp; <%= link_to current_user.name, user_path(id: current_user.id) %> </div>| <%= link_to "Logout", '/logout', class:'item' %>
      <% else %>
        <%= link_to 'Login', '/login', class:'item' %> | <%= link_to 'Signup', '/signup',class:'item' %>
      <% end %>
    </div>
  </div>
  <div>
    <% flash.each do |key, msg| %>
    <%= msg %>
    <% end %>
  <div>
    <%= yield %>
  </body>
</html>
